@import url(style.css);
body{
    background-color: gainsboro;
;
}
.navbar {
    width: 100%;
    height: 15px;
    position: static;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-first-color);
    align-items: center;
    padding: 2% 0;
}
.navbar-part1{
    width: 20%;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar-logo {
    width: 15%36;
    margin-left: 5%;
    text-align: center;
}
.navbar-logo a{
    font-size: 25px;
}
.navbar-part2{
    display: flex;
}
.navbar-list {
    width: 50%;
    text-align: center;
}
.navbar-list a {
    margin: 0 5%;
    font-size: 13px;
    transition: 1s;
}
.navbar-list a:hover{
    border-bottom: 1px solid #4DB7FE;
}
.popup svg {
    display: none;
}
.navbar-contact {
    width: 15%;
    margin-right: 5%;
    text-align: center;
    border-radius: 50px;
    padding: .5%;
    background-color: #6257e3;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
    transition: .2s;
}
.navbar-contact:hover{
    transform: scale(1.03);
}
.navbar-contact a{
    font-size: 13px;
}

.premierimage img{
width: 100%;

}

.contact{
text-align: center;
font-size: 3.75rem;
<<<<<<< HEAD
margin-top: 40px;
color: #6257e3;
padding-top: 58px;
=======
color:rgb(83, 83, 206);
font-family: cursive;
>>>>>>> develop
}

.formulairee{
    display: flex;
    justify-content: space-between;
}

.layout-1{
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 50px;

}

.form-1{
    align-items: center;
}
.group-1{
    display: grid;
    align-content: center;
}

.group-1 input{
    padding: 12px 60px;
    margin-right: -5px;
    margin-bottom: 15px
};


textarea{
    /* background-color: #e5e5e5; */
    margin-top: 10px;
}
textarea#message-d70e {
    width: 100%;
}
.group-5 button{
background-color:#6257e3;
  border-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 22px;
  border-radius: 30px;
<<<<<<< HEAD
   
=======
  color: white;
    /* background-color: rgb(83, 83, 206);
    color: white;
    font-family: cursive;
    border-radius: 13px;
    padding: 6px; */
>>>>>>> develop
}

.message-avantageux{
    text-align: center;
margin: 34px;

}
.message-avantageux h2{
    font-size: 30px;
}

<<<<<<< HEAD
.lien-de-contact{
    color: white;
    font-size: 13px;
}

.service {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

.delivery-icone {
    color: #ADD981;
    font-size: 50px;
}

.service_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.service-dedails {
    font-weight: 600;
    width: 150px;
    text-align: center;
}

/* 
.icone-dereseau{
    display: flex;
}

.icones{
    width: 50px;
    height: 50px;
    margin-top: 66px;
    color: rgba(245, 238, 238, 0.926);
    border: 5px;

}

.enfin{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    margin-left: 32px;
    font-size: 30px;
} */




@media screen and (max-width: 750px) {
=======
@media screen and (max-width: 400px) {
>>>>>>> develop
    .group-1 .layout-1{
     margin-left: 0px;
     margin-right: 0px;
    }
<<<<<<< HEAD
    .formulairee{
     display: flex;
     flex-direction: column;

    }
    .layout-1 .contact{
        font-size: 24px;
    }
    .premierimage img {
        width: 100%;
    }
    .lien-de-contact{
        width: 100%;
    }
=======
   
>>>>>>> develop
  
}

.footer{
    background-color: #2C3B5A;
}
.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.footer-part1 {
    width: 80%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #7d93b2;
    text-align: center;
    padding-top: 6%;
}
.footer-part1 a{
    text-decoration: none;
    font-size: 20px;
    padding: 2% 0;
    margin: 0 2%;
    color: #fff;
    font-weight: 700;
    transition: .2s;
}
.footer-part1 a:hover{
    color: #566985;
}
.footer-footer{
    display: flex;
    color: #fff;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 1% 0;
}
.footer-img{
    font-size: 20px;
}
.footer-footer-reserved{
    font-size: 13px;
}



 

 
 