@import url(style.css);
body{
    overflow-x: hidden;
    margin: auto;
}
.navbar {
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    border: 1px solid red;
    background-color: var(--blue-fist-color);
    align-items: center;
    padding: 2% 0;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar-logo {
    width: 15%;
    border: 1px solid;
    text-align: center;
}
.navbar-logo a{
    font-size: 30px;
}
.navbar-list {
    width: 50%;
    border: 1px solid;
    text-align: center;
}
.navbar-list a {
    margin: 0 3%;
    font-size: 20px;
}
.navbar-contact {
    border: 1px solid;
    width: 15%;
    text-align: left;
}
.navbar-contact a{
    font-size: 25px;
}
.header{
    width: 100%;
    height: 605px;
    border: 1px solid red;
    background-image: url(/assets/image/jad20210209-ass-cameroun-yaounde.avif);
}
.header-presentation {
    width: 100%;
    margin-top: 15%;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}
.header-presentation-firstPart{
    margin-bottom: 2%;
}
.header-searchbar {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 6% 20%;
    background-color: #fff;
}
.header-searchbar input {
    font-size: 18px;
    padding: 4% 20px;
    background-color: transparent;
    border: none;
}
.header-searchbar-adresse input {
    padding: 6.3% 0;
    padding-left: 15px;
}
.header-searchbar-destination input {
    padding: 6.8% 0;
}
.header-searchbar-submit input {
    padding: 20% 15%;
    padding-right: 15px;
}
.header-searchbar-date input {
    padding: 9.4% 0;
}
.feat{
    margin-top: 10%;
}
.feat-title{
    text-align: center;
    font-size: 35px;
}
.feat-s-title{
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
}
.feat-container{
    display: flex;
    margin: 5% 3%;
}
.feat-container-trajet{
    border: 1px solid;
    margin: 2%;
    padding: 1%;
}
.feat-container-trajet-img {
    text-align: center;
}
.feat-container-reservation{
    border: 1px solid;
    margin: 2%;
    padding: 1%;
}
.feat-container-reservation-img {
    text-align: center;
}
.feat-container-services{
    border: 1px solid;
    margin: 2%;
    padding: 1%;
}
.feat-container-services-img {
    text-align: center;
}
.feat-container-reservation-title, .feat-container-trajet-title, .feat-container-services-title{
    margin: 10% 0;
    text-align: center;
    font-size: 25px;
}
.inscription{
    display: flex;
}
.inscription-part1{
    width: 50%;
    height: auto;
    border: 1px solid;
}
.inscription-part2{
    width: 50%;
    height: auto;
    border: 1px solid;
}
.inscription-part1-title, .inscription-part2-title{
    position: relative;
    width: 100%;
    top: 80px;
    text-align: center;
}
.inscription-part1-title a, .inscription-part2-title a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.inscription-part1-lorem, .inscription-part2-lorem {
    width: 100%;
    position: relative;
    text-align: center;
    color: #fff;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}
.inscription-part1-img img{
    width: 100%;
    height: auto;
}
.inscription-part2-img img{
    width: 100%;
    height: auto;
}
.contactUs {
    display: flex;
    justify-content: space-around;
    margin: 5% 3%;
    padding: 1%;
}
.contactUs-presentation-firstPart{
    margin-bottom: 3%;
    font-size: 25px;
}
.contactUs-presentation-secondPartPart{
    font-size: 18px;
}
.contactUs-contact a{
    text-decoration: none;
    font-size: 25px;
}
.contactUs-contact svg {
    position: relative;
    top: 5px;
}
.footer-container{
    display: flex;
    justify-content: space-around;
    margin: 5% 3%;
    border: 1px solid;
}
.footer-part1{
    display: inline-grid;
}
.footer-footer{
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
}
