@import url(style.css);
body{
    overflow-x: hidden;
    margin: auto;
}
.navbar {
    width: 100%;
    height: auto;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    background-color: var(--blue-first-color);
    align-items: center;
    padding: 1.3% 0;
}
.navbar-part1{
    width: 20%;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar-logo {
    margin-left: 5%;
    text-align: center;
}
.navbar-logo a{
    font-size: 25px;
}
.navbar-part2{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    width: 75%;
    display: inline-block;
    text-align: center;
}
.navbar-list a {
    margin: 0 5%;
    font-size: 13px;
    transition: 1s;
}
.navbar-list a:hover{
    border-bottom: 1px solid #4DB7FE;
}
.navbar-contact{
    margin-right: 13%;
}
.navbar-contact a {
    font-size: 13px;
    border-radius: 30px;
    background-color: #4DB7FE;
    padding: 14% 57%;
    box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}
.header{
    width: 100%;
    height: 605px;
    border: 1px solid transparent;
    background-image: url(/assets/image/jad20210209-ass-cameroun-yaounde.avif);
}
.header-presentation {
    width: 100%;
    margin-top: 10%;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}
.header-presentation-firstPart{
    margin-bottom: 2%;
}
.header-presentation-secondPart{
    font-size: 30px;
}
.header-searchbar {
    text-align: center;
    border-radius: 30px;
    display: flex;
    margin: 6% 20%;
    /* padding: 1% 0; */
    background-color: #fff;
    box-shadow: 0px 0px 0px 10px rgba(255, 255, 255, 0.3);
    
}
.header-searchbar input{
    width: 100%;
    outline: none;
    border: none;
    text-align: center;
    padding: 7% 0;
    background-color: transparent;
}
.header-searchbar-adresse{
    width: 25%;
}
.header-searchbar-destination{
    width: 25%;
}
.header-searchbar-date {
    width: 25%;
}
.header-searchbar-submit {
    width: 27%;
    transition: .2s;
}
.header-searchbar-submit:hover{
    transform: scale(1.02);
}
.header-searchbar-submit input{
    border: none;
    background-color: #4DB7FE;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #fff;
}
.feat{
    padding-top: 10%;
}
.feat-title {
    margin: 0 35%;
    text-align: center;
    font-size: 34px;
    color: #4DB7FE;
    transition: .1s;
}
.feat-title:hover{
    border-bottom: 2px solid #4DB7FE;
}
.feat-s-title{
    text-align: center;
    font-size: 13px;
    margin-top: 3%;
    color: #4DB7FE;
}
.feat-container{
    display: flex;
    margin: 5% 3%;
    font-size: 18px-;
}
.feat-container-trajet{
    border: 1px solid #7d93b2;
    margin: 2%;
    padding: 1%;
    transition: .2s;
}
.feat-container-trajet:hover{
    transform: scale(1.03);
}
.feat-container-trajet-img {
    text-align: center;
}
.feat-container-reservation{
    border: 1px solid #7d93b2;
    margin: 2%;
    padding: 1%;
    transition: .2s;
}
.feat-container-reservation:hover{
    transform: scale(1.03);
}
.feat-container-reservation-img {
    text-align: center;
}
.feat-container-services{
    border: 1px solid #7d93b2;
    margin: 2%;
    padding: 1%;
    transition: .2s;
}
.feat-container-services:hover{
    transform: scale(1.03);
}
.feat-container-services-img {
    text-align: center;
}
.feat-container-reservation-img svg, .feat-container-trajet-img svg, .feat-container-services-img svg{
    color: #566985;
}
.feat-container-reservation-title, .feat-container-trajet-title, .feat-container-services-title{
    margin: 10% 0;
    text-align: center;
    font-size: 18px;
    color: #4DB7FE;
}
.feat-container-reservation-lorem, .feat-container-trajet-lorem, .feat-container-services-lorem{
    color: #4DB7FE;
    text-align: center;
    padding: 1% 7%;
    font-size: 13px;
}
.inscription{
    display: flex;
    margin-bottom: -3%;
}
.inscription-part1{
    width: 50%;
    height: auto;
}
.inscription-part2{
    width: 50%;
    height: auto;
}
.inscription-part1-title, .inscription-part2-title{
    position: relative;
    width: 100%;
    top: 80px;
    text-align: center;
    transition: .2s;
}
.inscription-part1-title a, .inscription-part2-title a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #6257e3;
        border-bottom: 1px solid #6257e3;
}
.inscription-part1-title:hover, .inscription-part2-title:hover{
    transform: scale(1.03);
}
.inscription-part1-lorem, .inscription-part2-lorem {
    width: 100%;
    position: relative;
    text-align: center;
    color: #6257e3;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
}
.inscription-part1-img img{
    width: 100%;
    height: auto;
}
.inscription-part2-img img{
    width: 100%;
    height: auto;
}
.contactUs {
    display: flex;
    justify-content: space-around;
    padding: 10%;
    background-color: #4DB7FE;
}
.contactUs-presentation-firstPart{
    float: left;
    width: 100%;
    text-align: left;
    font-size: 34px;
    font-weight: 700;
    padding-bottom: 20px;
    color: #fff;
}
.contactUs-presentation-secondPart{
    text-align: left;
    color: rgba(255,255,255,0.51);
    font-size: 13px;
}
.contactUs-contact {
    width: max-content;
    padding: 1% 3%;
    background: #fff;
    height: max-content;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.4);
    border-radius: 30px;
    transition: .3s;
}
.contactUs-contact:hover{
    transform: scale(1.03);
}
.contactUs-contact a{
    text-decoration: none;
    font-size: 18px;
}
.contactUs-contact svg {
    position: relative;
    top: 7px;
}
.footer{
    background-color: #2C3B5A;
}
.footer-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
}
.footer-part1 {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #7d93b2;
    text-align: center;
    padding-top: 2%;
}
.footer-part1 a{
    text-decoration: none;
    font-size: 18px;
    padding: 2% 0;
    margin: 0 2%;
    color: #fff;
    font-weight: 700;
    transition: .2s;
}
.footer-part1 a:hover{
    color: #566985;
}
.footer-footer{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    padding: 1% 0;
}
.footer-footer-part1{
    width: 30%;
    text-align: center;
}
.footer-img{
    font-size: 30px;
}
.footer-footer-part2 {
    width: 60%;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}







@media screen and (max-width:852px) {
    html, body{
        overflow-x: hidden;
    }
    .navbar{
        position: static;
        flex-wrap: wrap;
        padding: 0;
    }
    .navbar-part1{
        width: 100%;
        margin-bottom: 2%;
    }
    .navbar-part2 {
    width: 100%;
    display:flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    }
    .navbar-list {
        width: 75%;
        display: inline-block;
        text-align: center;
        margin-left: 0;
    }
    .navbar-logo {
        text-align: center;
    }
    .navbar-contact a {
        font-size: 10px;
        padding: 2% 42%;
        box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
    }
    .header-presentation{
        font-size: 16px;
        margin-bottom: 8%;
    }
    .header-presentation-secondPart{
        font-size: 14px;
    }
    .header-searchbar {
        flex-direction: column;
        width: 82%;
        margin: 2% 10%;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.3);
    }
    .header-searchbar-adresse, .header-searchbar-date, .header-searchbar-destination, .header-searchbar-submit {
        width: 96%;
        margin: 0 1%;
        border: 1px solid #7d93b2;
        border-radius: 10px;
        margin: 1% 0;
    }
    .header-searchbar input {
        border-bottom: #7d93b2;
        text-align: left;
        background-color: #fff;
        padding: 2% 3%;
        border-radius: 10px;
        width: 96%;
    }
    .header-searchbar-submit{
        width: 98%;
    }
    .header-searchbar-submit input{
        width: 100%;
        color: black;
        background-color: #4DB7FE;
    }
    .feat-container{
        flex-direction: column;
        margin: 0 15%;
    }
    .feat-title {
        margin: 0;
        font-size: 20px;
    }
    .feat-s-title {
        margin-bottom: 5%;
    }
    .inscription {
        width: 95%;
        flex-direction: column;
    }
    .inscription-part1, .inscription-part2{
        width: 71%;
        margin-left: 15%;
    }
    .inscription-part1-title, .inscription-part2-title{
        top: 70px;
    }
    .inscription-part1-title a, .inscription-part2-title a{
        font-size: 12px;
        color: #566985;
        border-bottom: 1px solid #566985;
    }
    .inscription-part1-lorem, .inscription-part2-lorem{
        font-size: 10px;
        color: #566985;
    }   
    .inscription-part1-img img, .inscription-part2-img img{
        margin: 0 2%;
    }
    .contactUs{
        flex-direction: column;
    }
    .contactUs-presentation{
        margin-bottom: 10%;
    }
    .contactUs-presentation-firstPart {
        width: 100%;
        text-align: center;
    }
    .contactUs-presentation-secondPart{
        text-align: center;
    }
    .contactUs-contact{
        margin: auto;
        padding-bottom: 2%;
    }
    .footer-part1{
        width: 100%;
        flex-direction: column;
    }
    .footer-part1 a{
       margin-bottom: 1%;
    }.footer-footer{
        flex-direction: column;
    }
    .footer-img{
        margin-bottom: 2%;
    }
    .footer-part1 a{
        font-size: 14px;
    }
    .footer-footer-part1 {
        width: 100%;
        text-align: center;
    }
    .footer-footer-part2 {
        font-size: 10px;
        width: 96%;
        flex-direction: column;
    }
    .footer-footer-reserved1{
        margin-bottom: 2%;
    }
}


@media screen and (max-width:480px){
    .navbar-part2{
        width: 100%;
        flex-wrap: wrap;
    }
    .navbar-list {
        display:flex;
        text-align: center;
        margin-left: 10px;
    }
    .navbar-contact {
        margin-left: 39%;
        margin-top: 4%;
        width: max-content;
        margin-bottom: 4%;
    }
}


